services:
  postgres:
    image: postgis/postgis:16-3.4
    restart: unless-stopped
    ports:
      - '5432:5432'
    environment:
      POSTGRES_DB: mini_uber
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
